body,
html {
    color : #333;
    height: 100%;
}

* {
    margin : 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.m_center {
    width : 1120px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

.flexjbac {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}